{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <!-- <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button> -->
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="bunting-personalisation">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="body-inner">

                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}

                    {% if account_id %}

                        <div class="box-container logged-in">
                            {% if success %}
                                <h2 class="title">Bunting added <strong>Successfully</strong></h2>
                                <p>{{ success }}</p>
                            {% else %}
                                <h2 class="title">Sign in to <strong>Bunting</strong></h2>
                            {% endif %}
                            <p>
                                Account address:<br><strong>{{ bunting_subdomain }}.{{ bunting_region_id }}.bunting.com</strong>
                            </p>
                            <form action="https://{{ bunting_subdomain }}.{{ bunting_region_id }}.bunting.com/login" class="dotted go-to-bunting" target="_blank" method="post">
                                <input type="hidden" name="a" value="login">
                                <input type="hidden" name="timestamp" value="{{ bunting_timestamp }}">
                                <input type="hidden" name="hash" value="{{ bunting_hash }}">
                                <input type="hidden" name="password_api" value="{{ bunting_password_api }}">
                                <input type="hidden" name="email_address" value="{{ bunting_email_address }}">
                                <input type="hidden" name="plugin" value="opencart">
                                <button type="submit" class="btn btn-info">
                                    Login to your<br>Bunting Account
                                </button>
                            </form>
                            <a href="{{ action }}&unlink=true" onclick="return confirm('Are you sure you want to unlink your Bunting account?');" class="unlink-bunting btn btn-default">
                                Uninstall
                            </a>
                        </div>
                        <script>
                            setInterval(function() {
                                window.location.reload();
                            }, 58000);
                        </script>

                    {% else %}

                        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="hidden-form" class="form-horizontal">
                            <input type="hidden" name="module_bunting_status" value="1">
                        </form>
                    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet" />
                        <div id="loading">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div class="box-container" id="loginForm">
                            <div class="title-logo"><img src="https://bunting.com/media/logo.svg"></div>
                            <p style="display: none" class="message"></p>
                            <div class="underlined">
                                <h4>New to Bunting?</h4>
                                <a href="#planChooseForm" class="btn btn-primary btn-lg" id="choosePlanButton">Create Account</a>
                            </div>
                            <div class="row underlined">
                                <div class="login">
                                    <h2>Already have a Bunting Account?</h2>
                                    <form id="actualLoginForm">
                                        <div class="form-group required">
                                            <label for="verify_bunting_subdomain">Bunting account subdomain</label>
                                            <input type="text" class="form-control" id="verify_bunting_subdomain" name="verify_bunting_subdomain" required>
                                        </div>
                                        <div class="form-group required">
                                            <label for="verify_email_address">Email address</label>
                                            <input type="email" class="form-control" id="verify_email_address" name="verify_email_address" value="{{ user_info.email }}" required>
                                        </div>
                                        <div class="form-group required">
                                            <label for="verify_password">Password</label>
                                            <input type="password" class="form-control" id="verify_password" name="verify_password" required>
                                        </div>
                                        <button type="submit" class="btn btn-info">Login</button>
                                    </form>
                                </div>
                            </div>
                            <div>
                                Help: <a class="forgotPasswordTrigger" href="https://bunting.com/contact" target="_blank">I've lost my password</a>
                                <form class="forgotPasswordForm">
                                    <div class="form-group required">
                                        <label for="verify_bunting_subdomain">Bunting account subdomain</label>
                                        <input type="text" class="form-control" id="bunting_forgot_subdomain" name="bunting_forgot_subdomain" required="">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-large btn-last">Reset</button>
                                </form>
                            </div>
                        </div>
                        <div class="box-container wide" id="registerForm" style="display:none;">
                            <a class="back" href="#back">Back</a>
                            <h2 class="title">Create Your <strong>Free Trial Account</strong></h2>
                            <h4>You're moments away from personalising your website</h4>
                            <p style="display: none" class="message"></p>
                            <form id="actualRegisterForm">
                                <fieldset>
                                    <h3>Your Bunting Account</h3>
                                    <div class="form-group required">
                                        <label for="company_name">Company Name</label>
                                        <input type="text" class="form-control" id="company_name" name="company_name" value="{{ shop_name }}" required>
                                    </div>
                                    <div class="form-group required">
                                        <label for="register_bunting_subdomain">Choose your Bunting account's web address</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">https://</div>
                                            <input type="text" class="form-control" id="register_bunting_subdomain" name="register_bunting_subdomain" value="{{ potential_subdomain }}" required>
                                            <div class="input-group-addon">.bunting.com</div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <h3>Your Login Details</h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group required">
                                                <label for="forename">Forename</label>
                                                <input type="text" class="form-control" id="forename" name="forename" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group required">
                                                <label for="surname">Surname</label>
                                                <input type="text" class="form-control" id="surname" name="surname" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="register_email_address">Email Address</label>
                                        <input type="email" class="form-control" id="register_email_address" name="register_email_address" value="{{ user_info.email }}" required>
                                        <span class="hint">(Kept safe, never given to others)</span>
                                    </div>
                                    <div class="form-group required">
                                        <label for="telephone_number">Phone</label>
                                        <input type="text" class="form-control" id="telephone_number" name="telephone_number" value="{{ phone }}" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group required">
                                                <label for="register_password">Password</label>
                                                <input type="password" class="form-control" id="register_password" name="register_password" required>
                                                <span class="hint">(We'll encrypt this for security)</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group required">
                                                <label for="password_confirmation">Confirm password</label>
                                                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            Do you have a <a id="promoCodeButton" role="button" data-toggle="collapse" href="#promo-code" aria-expanded="false" aria-controls="promo-code">Promo Code</a>?
                                        </p>
                                        <div class="collapse" id="promo-code">
                                            <input type="text" class="form-control" id="promotional_code" name="promotional_code" placeholder="Promo code (optional)">
                                        </div>
                                    </div>
                                    <div class="submit">
                                        <div class="row">
                                            <div class="col-sm-6 submit-text">
                                                <span id="premium-terms">By clicking the button you agree to Bunting's <a href="http://knowledgebase.getbunting.com/bunting-terms-of-service/" target="_blank">Terms of Business</a>.</span>
                                            </div>
                                            <div class="col-sm-6 submit-button">
                                                <button type="submit" class="btn btn-info">Get started</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}